@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(231, 231, 250);
}

.begin-header {
    background: rgb(117, 42, 255);
    color: #fff;
}

.navbar {
    background: rgb(58, 8, 151);
}

.card {
    border: none;
    background: none;
}

.card-body {
    /* margin-top: 10px; */
    border-radius: 0;
    border: none;
    background: #fff;
}

.card-header {
    border-radius: 0;
    background-image: linear-gradient(-45deg, rgb(71, 80, 80), rgb(147, 147, 240));
    background-size: 400% 400%;
}