@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(231, 231, 250);
}

.begin-header {
    background: rgb(117, 42, 255);
    color: #fff;
}

.navbar {
    background: rgb(58, 8, 151);
}

a.nav-link:active,
a.nav-link:focus,
a.nav-link:hover {
    background-color: rgb(245, 35, 140);
    border-radius: 10px;
    color: #fff !important;
}

.card {
    border: none;
    background: none;
}

.card-body {
    /* margin-top: 10px; */
    border-radius: 0;
    border: none;
    background: #fff;
}

.card-header {
    border-radius: 0;
    background-image: linear-gradient(-45deg, rgb(71, 80, 80), rgb(147, 147, 240));
    background-size: 400% 400%;
}

.dropdown-menu {
    background-color: rgb(117, 42, 255);
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-toggle:focus {
    box-shadow: none !important
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #ffffff;
    background-color: rgb(245, 35, 140);
}

@media only screen and (max-width: 767.98px) {

    a.nav-link:active,
    a.nav-link:focus,
    a.nav-link:hover {
        border-radius: 0px;
    }
}